/*place global styles here */
html,
body {
	@apply h-full overflow-hidden;
}

@font-face {
	font-family: herosection;
	src: url('/fonts/fredoka.ttf');
}

#hero {
	font-family: herosection;
}

@font-face {
	font-family: nonherosection;
	src: url('/fonts/fredokalight.ttf');
}

#nonherosection {
	font-family: nonherosection;
}
